[submodule "the_original_problem"]
	path = the_original_problem
	url = https://github.com/unccv/the_original_problem
[submodule "learning_to_see"]
	path = learning_to_see
	url = https://github.com/unccv/learning_to_see.git
[submodule "autonomous_driving"]
	path = autonomous_driving
	url = https://github.com/unccv/autonomous_driving.git
[submodule "neural_networks"]
	path = neural_networks
	url = https://github.com/unccv/neural_networks.git
